.contact-page{
    height: fit-content;
    width: fit-content;
    margin-bottom: 5%;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 20px;
    border-radius: 15px;
    border: 2px solid #292929;
}
form{
    display: flex;
    row-gap: 40px;
    flex-direction: column;
}
input{
    height: 3rem;
    background-color: black;
    border: none;
    color: white;
    outline: none;
    border-bottom: 2px solid gray;
}
.form-container{
    padding: 40px;
}
.contact-text1{
    color: gray;
}
.contact-text2{
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    line-height: 0pt;
    align-items: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
}
.button{
    width: 6rem;
    height: 2rem;
    background-color: black;
    color: white;
    border: 2px solid gray;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}
@media (width <= 600px){
    .contact-page{
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }
}